Source: ros-jazzy-qrb-battery-client
Section: misc
Priority: optional
Maintainer: pkavasse <quic_pkavasse@quicinc.com>
Build-Depends: debhelper-compat (= 13), libdbus-1-dev, autoconf, libtool, automake,pkg-config,ros-jazzy-ament-cmake-auto, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-qrb-battery-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: QRB Battery Client library
